---
- include_tasks: clean.yml
#- name: Verify Wazuh installation directory exists
#  stat:
#    path: /opt/wazuh-install
#  register: wazuh_install_dir

#- name: Verify Wazuh configuration tarball exists
#  stat:
#    path: /opt/wazuh-install/wazuh-install-files.tar
#  register: wazuh_config_tar

#- name: Fail if Wazuh installation dependencies are missing
#  fail:
#    msg: "Wazuh installation directory or configuration tarball is missing. Ensure wazuh-indexer role runs first."
#  when: not wazuh_install_dir.stat.exists or not wazuh_config_tar.stat.exists

- name: Install Wazuh Server
  command: ./wazuh-install.sh --wazuh-server {{ wazuh_server_node_name | default('wazuh-1') }} --overwrite
  args:
    chdir: /opt/wazuh-install
    creates: /var/ossec/bin/wazuh-control

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable and start manager service
  ansible.builtin.systemd:
    name: wazuh-manager
    state: started
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable and start Filebeat service
  ansible.builtin.systemd:
    name: filebeat
    state: started
    enabled: true
  ignore_errors: "{{ ansible_check_mode }}"
