apiVersion: 1

datasources:
  - name: Wazuh
    type: grafana-opensearch-datasource
    uid: wazuh-alerts
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-alerts-*"
      indexName: "wazuh-alerts-*"
      timeField: "timestamp"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "rule.description"
      logLevelField: "rule.level"

  - name: Wazuh Monitoring
    type: grafana-opensearch-datasource
    uid: wazuh-monitoring
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-monitoring-*"
      indexName: "wazuh-monitoring-*"
      timeField: "timestamp"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "name"
      logLevelField: "status"

  - name: Wazuh Vulnerabilities
    type: grafana-opensearch-datasource
    uid: wazuh-vulnerabilities
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-states-vulnerabilities-*"
      indexName: "wazuh-states-vulnerabilities-*"
      timeField: "vulnerability.detected_at"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "vulnerability.id"
      logLevelField: "vulnerability.severity"

  - name: Wazuh Inventory Ports
    type: grafana-opensearch-datasource
    uid: wazuh-inventory-ports
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-states-inventory-ports-*"
      indexName: "wazuh-states-inventory-ports-*"
      timeField: "timestamp"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "rule.description"
      logLevelField: "rule.level"

  - name: Wazuh Inventory Packages
    type: grafana-opensearch-datasource
    uid: wazuh-inventory-packages
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-states-inventory-packages-*"
      indexName: "wazuh-states-inventory-packages-*"
      timeField: "timestamp"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "rule.description"
      logLevelField: "rule.level"

  - name: Wazuh Inventory System
    type: grafana-opensearch-datasource
    uid: wazuh-inventory-system
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-states-inventory-system-*"
      indexName: "wazuh-states-inventory-system-*"
      timeField: "timestamp"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "rule.description"
      logLevelField: "rule.level"

  - name: Wazuh Inventory Users
    type: grafana-opensearch-datasource
    uid: wazuh-inventory-users
    url: https://{{ wazuh_manager_ip | default('127.0.0.1') }}:9200
    access: proxy
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: "{{ wazuh_admin_password }}"
    editable: true
    jsonData:
      database: "wazuh-states-inventory-users-*"
      indexName: "wazuh-states-inventory-users-*"
      timeField: "timestamp"
      flavor: "Opensearch"
      version: "2.16.0"
      pplEnabled: true
      tlsSkipVerify: true
      logMessageField: "rule.description"
      logLevelField: "rule.level"