---
- name: Deploy Wazuh Agent
  hosts: agents
  become: true
  vars_files:
    - ../inventory/group_vars/all.yml

  tasks:
    - name: Check role dependencies
      include_tasks: ../tasks/check_dependencies.yml

    - name: Display enabled roles
      debug:
        msg: "Installing roles: {{ enabled_roles | intersect(['cleanup', 'common', 'wazuh-agent', 'suricata']) | join(', ') }}"

    - name: Apply enabled roles in order
      include_role:
        name: "{{ role_item }}"
      loop:
        - cleanup
        - common
        - wazuh-agent
        - suricata
      loop_control:
        loop_var: role_item
      when: role_item in enabled_roles

- name: Deploy PME Security Automation Prototype
  hosts: security_server
  become: true
  vars_files:
    - ../inventory/group_vars/all.yml

  tasks:
    - name: Show Deployment Configuration
      debug:
        msg: "Deploying for {{ endpoint_count }} endpoints on {{ target_os }}"

    - name: Check role dependencies
      include_tasks: ../tasks/check_dependencies.yml

    - name: Display enabled roles
      debug:
        msg: "Installing roles: {{ enabled_roles | intersect(['cleanup', 'common', 'wazuh-indexer', 'wazuh-server', 'wazuh-dashboard', 'ufw', 'fail2ban']) | join(', ') }}"

    - name: Apply enabled roles in order
      include_role:
        name: "{{ role_item }}"
      loop:
        - cleanup
        - common
        - wazuh-indexer
        - wazuh-server
        - wazuh-dashboard
        - ufw
        - fail2ban
      loop_control:
        loop_var: role_item
      when: role_item in enabled_roles


      

