---
- include_tasks: clean.yml
#- name: Install gnupg and apt-transport-https
#  apt:
#    name:
#      - gnupg
#      - apt-transport-https
#    state: present
#    update_cache: yes

- name: Import Wazuh GPG key
  shell: |
    curl -s https://packages.wazuh.com/key/GPG-KEY-WAZUH | gpg --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/wazuh.gpg --import && chmod 644 /usr/share/keyrings/wazuh.gpg
  args:
    creates: /usr/share/keyrings/wazuh.gpg

- name: Add Wazuh repository
  shell: |
    echo "deb [signed-by=/usr/share/keyrings/wazuh.gpg] https://packages.wazuh.com/4.x/apt/ stable main" | tee -a /etc/apt/sources.list.d/wazuh.list
  args:
    creates: /etc/apt/sources.list.d/wazuh.list

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Wazuh agent
  apt:
    name: wazuh-agent
    state: present
  environment:
    WAZUH_MANAGER: "{{ wazuh_manager_ip }}"
  ignore_errors: "{{ ansible_check_mode }}"

- name: Enable and start Wazuh agent service
  systemd:
    name: wazuh-agent
    state: started
    enabled: yes
    daemon_reload: yes
  ignore_errors: "{{ ansible_check_mode }}"
