---
- name: Install Fail2ban
  apt:
    name: fail2ban
    state: present
  become: true

- name: Configure jail.local
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
  notify: Restart Fail2ban
  become: true

- name: Ensure Fail2ban is running and enabled
  service:
    name: fail2ban
    state: started
    enabled: yes
  ignore_errors: "{{ ansible_check_mode }}"
  become: true