---
- name: Install OpenSSH Server
  apt:
    name: openssh-server
    state: present
  become: true

- name: Configure SSHD (ANSSI R41 + Password Access)
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    owner: root
    group: root
    mode: '0600'
    validate: /usr/sbin/sshd -t -f %s
  notify: Restart SSH
  become: true

- name: Ensure SSH service is enabled and running
  service:
    name: ssh
    state: started
    enabled: yes
  become: true
